@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 230 35% 7%;
        --foreground: 231 77% 90%;

        --card: 0 0% 59%;
        --card-foreground: 231 77% 90%;

        --popover: 0 0% 100%;
        --popover-foreground: 231 77% 90%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 231 77% 90%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 231 77% 90%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 231 77% 90%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 231 77% 90%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 231 77% 90%;

        --border: 231 77% 90%;
        --input: 231 77% 90%;
        --ring: 231 77% 90%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
